.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  width: fit-content;
}

.success-msg {
  color: #270;
  background-color: #dff2bf;
}
.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
}
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}

.blog-wrapper {
  margin: 0.2em 0;
  padding: 0.5em;
  border-radius: 10px;
  width: 25vw;
  background-color: #c4c1ac;
  border: solid 1px rgba(151, 151, 151, 0.21);
  position: relative;
}

.blog-wrapper:hover {
  color: white;
  cursor: defaul;
  margin-left: 0.5em;
  background-color: #404040;
  border: solid 3px rgba(151, 151, 151, 0.21);
}

.blog-wrapper b:hover {
  cursor: pointer;
}
